<h5 class="center">Cadastrar Usuário</h5>
<div class="row">

    <ul id="erros"></ul>

    <form id="form" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input name='nome' id="nome" type="text" class="validate">
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name='telefone' id="telefone" type="tel" class="validate">
                <label for="telefone">Telefone</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input name='email' id="email" type="tel" class="validate">
                <label for="email">Email</label>
            </div>
            <label>Selecione o Sexo</label>
            <select name="sexo" class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
    </form>
    <button id="enviar" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</div>

<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/jquery-form.js"></script>
<script>
    $(document).ready(function () {
        $("#loader").css("display", "none");
    });
    $('#enviar').click(function () {
        $('#form').ajaxForm({
            url: '/salvar_usuario',
            type: 'post',
            success: function (data) {
                console.log('Dados salvos: ', data.result)
                if (data.result.nome) {
                    $.ajax({
                        url: '/listar_usuario',
                        method: 'get',
                        success: function (data) {
                            $('#conteudo').html(data)
                        }
                    })
                } else {
                    document.getElementById('erros').innerHTML = ''
                    for (let i = 0; i < data.result.length; i++) {
                        document.getElementById('erros').innerHTML += data.result[i] + '<br>'
                    }
                }
            }
        }).submit();
    })

</script>