<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="usuarios">Usuario</a></li>
        <li><a class="sobre">Sobre</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a class="usuarios">Usuario</a></li>
        <li><a class="sobre">Sobre</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div style="display: none;" id="loader" class="progress">
    <div class="indeterminate"></div>
  </div>


  <div class="container center" id="conteudo">



    <!--  Scripts-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-form.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

<script>
  $(document).ready(function () {
    $('#conteudo').html('')
    $("#loader").css("display", "block")
    $.ajax({
      url: '/listar_usuario',
      method: 'get',
      success: function (data) {
        $("#loader").css("display", "none")
        $('#conteudo').html(data)
      }
    })
  });

  // usuarios
  $('.usuarios').click(function () {
    $.ajax({
      url: '/cadastrar_usuario',
      method: 'get',
      success: function (data) {
        $('#conteudo').html(data)
      }
    })
  })
  // salvar usuario
  $('#enviar').click(function () {
    $('#form').ajaxForm({
      url: '/salvar_usuario',
      type: 'post',
      success: function (data) {
        $('#resultado').html(data)
        // document.getElementById('resultado').innerHTML = data
        console.log('Dados salvos: ', data)
      }
    }).submit();
  })

</script>

</html>